<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldl.messenger">
<application>
    <service
        android:name=".MessagerService"
        android:enabled="true"
        android:exported="true"></service>
</application>
</manifest>